body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
}

.line {
    position: relative;
    width: 90%;
    height: 10px;
    background-color: #61dafb;
    margin-top: 40px;
}

.line2 {
    position: relative;
    width: 90%;
    height: 10px;
    background-color: #61fb63;
    margin-top: 40px;
}

.line3 {
    position: relative;
    width: 90%;
    height: 10px;
    background-color: #fb6161;
    margin-top: 40px;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    top: -5px; /* Center the dot on the line */
    z-index: 2; /* Ensure dots are above the player */
}

.dot2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    top: -5px; /* Center the dot on the line */
    z-index: 2; /* Ensure dots are above the player */
}

.dot3 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    top: -5px; /* Center the dot on the line */
    z-index: 2; /* Ensure dots are above the player */
}

#dot1Line1 { left: 10%; }
#dot2Line1 { left: 20%; }
#dot3Line1 { left: 40%; }
#dot4Line1 { left: 50%; }
#dot5Line1 { left: 70%; }
#dot6Line1 { left: 80%; }


#dot1Line2{ left: 15%; }
#dot2Line2{ left: 45%; }
#dot3Line2{ left: 75%; }


#dot1Line3{ left: 30%; }
#dot2Line3{ left: 60%; }
#dot3Line3{ left: 90%; }


.player {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    top: -5px; /* Center the player on the line */
    left: 0;
    z-index: 1; /* Ensure player is below the dots */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}
